@{
    ViewData["Title"] = "Home Page";
}


    
    
<div class="align-items-md-center align-items-lg-center" >
    
    <div class="text-dark rounded col-10 d-flex align-items-center justify-content-center" >

        <div class="text-justify">
            <h1 style="text-align:center">Welcome on Speak And Read!</h1>
            <br />
            <br />

            <h3 style="text-align:center">
                This is perfect place both for students and language school owners.
                If You are student, You can find and take part in interesting language course
                This online platoform allows you, not only to take part in courses from your local school,
                but also take part in courses from all other the world!
                Dont wait, sign now for free!
            </h3>
        </div>


    </div>
</div>
